# Gradle specific files
.gradle/
build/
profile-box-api-user/
profile-box-api-admin/
profile-box-comm/
profile-box-terraform/
profile-box-helm/
profilehub-frontend/


# IDE files
.idea/
.vscode/

# Compiled Java classes
*.class

# Compiled Kotlin classes
*.kotlin_class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Dependency lock files
!gradle-wrapper.jar
!gradle-wrapper.properties
